<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Регистрация пользователя</title>
</head>
<body>
<div class="mb-3">
    <label class="form-label" for="name"><b>Имя</b></label>
    <input class="form-control" id="name" name="name" placeholder="Иван" required type="text">
</div>
<div class="mb-3">
    <label class="form-label" for="login"><b>Логин</b></label>
    <input class="form-control" id="login" name="login" placeholder="ivan" required type="text">
</div>
<div class="mb-3">
    <label class="form-label" for="password"><b>Пароль</b></label>
    <input class="form-control" id="password" name="password" required type="password">
</div>
</body>
</html>